html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  gap: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 10px;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 24px;
}

.reset-button {
  width: 240px;
  height: 40px;
  background-color: #ffd062;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.history {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 8px;
  margin-top: 8px;
  min-height: 30px;
}

.history button {
  padding: 4px 12px;
  background-color: #d6dbe4ff;
  color: rgb(2, 2, 2);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


button:active {
  transform: translateY(1px);
}

button:hover {
  transition: 0.2s;
  background-color: rgb(255, 215, 84);
}

.square.taken {
  animation: shake 0.1s ;
  background-color: rgba(255, 167, 84, 1);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
